@model E_Commerce.MvcWebUI.Models.ProductListViewModel



@{
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <table class="table table-responsive">
        <tr>
            <td>Product Name</td>
            <td>Unit Price</td>
            <td>Unit In Stocks</td>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
            </tr>
        }

    </table>
</div>
<product-list-pager 
    current-category="@Model.CurrentCategory"
    current-page="@Model.CurrentPage"
    page-count="@Model.PageCount" 
    page-size="@Model.PageSize">

</product-list-pager>

